.achievements {
  font-family: 'Times New Roman', serif;
  background-color: rgb(254, 255, 255);
  color: #844421;
  padding: 80px 20px;
  text-align: center;
}

.achievements h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

.achievement-list {
  list-style-type: none;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.achievement-list li {
  margin-bottom: 25px;
  background: #fdfdfd;
  padding: 15px;
  border-radius: 8px;
  border-left: 4px solid #844421;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.achievement-list h4 {
  margin-bottom: 5px;
  font-size: 18px;
}

.achievement-list p {
  font-size: 16px;
  margin: 0;
}
